
body {
    background-color: rgb(19, 18, 18);
}

.square-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    
}

.square {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #000;
    font-size: 50px;
    color: #000;
    background-color: aliceblue;
    font-family: 'Courier New';
}


.blocked {
    background-color: gray;
  }

.title h2{
    text-align: center;
    font-family: 'Courier New';
    font-size: 35px;
    color: #16fa62;
}

.subtitle h3 {
    text-align: center;
    display: flex;
    font-family: 'Courier New';
    font-size: 30px;
    color: aliceblue;
}