  
body {
    background-color: rgb(19, 18, 18);
}

.title h2{
    text-align: center;
    font-family: 'Courier New';
    font-size: 35px;
    color: #16fa62;
}

.subtitle h3 {
    text-align: center;
    display: flex;
    font-family: 'Courier New';
    font-size: 30px;
    color: aliceblue;
}

.principal {
    position: relative;
    display: grid;
    grid-template-columns: 1.3fr 1.3fr;
    margin: 0 auto;
}

.square-side {
    display: flex;
    justify-content: start;
    align-items: center;
}

.square-side h2 {
    color: aliceblue;
    
}

.grid {
    display: grid;
    padding-left: 5em;
    padding-top: 4em;
    grid-template-columns: repeat(11, 1fr);
    
}

.square {
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    border: 0.5px solid #000;
    font-size: 45px;
    background-color: aliceblue;
    font-family: 'Courier New';
}


.blocked {
    background-color: gray;
  }

.questions-side {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    padding-left: 5em; /* Adicionando o espaçamento à esquerda */
}

.questions-side h2 {
    text-align: center;
    font-family: 'Courier New';
    font-size: 24px;
    color: aliceblue;
    margin-bottom: 20px; /* Adicionando margem inferior para separar do conteúdo abaixo */
}